.view-room-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .view-room-image {
    max-width: 50%;
    height: auto;
  }
  
  .view-room-details {
    /* margin-left: 16px; */
    max-width: 50%;
  }
  
  /* Telefonképernyőre vonatkozóan példa */
  @media (max-width: 600px) {
    .view-room-container {
      flex-direction: column;
      align-items: center;
    }
  
    .view-room-image,
    .view-room-details {
      max-width: 100%;
    }
    
  }
  